<div *ngIf="card" class="card-container">
  <h2>{{ card.name.charAt(0).toUpperCase() + card.name.slice(1) }}</h2>
  <img [src]="card.imageUrl" alt="Card Image" class="pokemon-img">

  <!-- Atributos e botões -->
  <div *ngIf="showAttributes">
    <div class="attributes-container"
         *ngFor="let attribute of ['attack', 'defense', 'hp', 'speed', 'specialAttack', 'specialDefense']">
      <span style="font-size: 15px; font-weight: bold;">
        {{ card[attribute] }}
      </span>
      <div class="btn btn-one" *ngIf="showAttributeButtons" (click)="selectAttribute(attribute)">
        <span>{{ attribute | titlecase }}</span>
      </div>
    </div>
  </div>
</div>
