<mat-card class="card" *ngIf="card">
  <mat-card-header>
    <img mat-card-avatar [src]="card.imageUrl" alt="Imagem do Pokémon">
    <mat-card-title>{{ card.name }}</mat-card-title>
    <mat-card-subtitle>ID: {{ card.id }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      HP: {{ card.hp }}<br>
      Ataque: {{ card.attack }}<br>
      Defesa: {{ card.defense }}<br>
      Ataque Especial: {{ card.specialAttack }}<br>
      Defesa Especial: {{ card.specialDefense }}<br>
      Velocidade: {{ card.speed }}
    </p>
  </mat-card-content>
</mat-card>
