.pokemon-selection-container {
  background-image: url('../../../assets/Pokemon pack1/laboratorio.png');
  background-size: cover;  /* this will make sure the image always covers the whole container */
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;  /* or any other value that suits your needs */
}
