.pokemon-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../../assets/Pokemon pack1/lab.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.carousel-caption h5 {
  color: white;
  font-size: 24px;
  margin-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"%3E%3Cpath d="M3.5 0l-3 3h2v1h3v-2h-1v-2h-1v2h-2l3-3zm-2.5 6h-1v2h1v-2z" fill="%23000" /%3E%3C/svg%3E');
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffcb05;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #d1a017;
}
