*{
    font-family: 'PokemonVazado' !important;
}

.bg-image {
    background: url('../../../assets/pokemon pack1/tela-login-sem-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  