<div class="main-content">
  <div class="container">
    <div class="flip">
      <div class="boxCard">
        <h2>Login</h2>
        <form (ngSubmit)="onLoginSubmit()" class="form-login">
          <input type="email" id="email" name="email" [(ngModel)]="loginEmail" required placeholder="E-mail" />
          <input type="password" id="password" name="password" [(ngModel)]="loginPassword" required placeholder="Senha" />
          <button type="submit">Entrar</button>
          <button (click)="signInWithGoogle()" class="google-signin-btn btn">
            <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo" />
            <span>Entrar com o Google</span>
          </button>
        </form>
        <a routerLink="/register">Clique aqui para se registrar</a>
      </div>
    </div>
  </div>
</div>
