.bg-image{
  background: url('../../../assets/pokemon pack1/tela-batalha2.png') no-repeat center center/cover;
  width: 1640px;
  height: 100%;
}


.game-container {
  display: flex;
  justify-content: space-around;
}

.score {
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
  padding: 15px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 3px white;
}

.score .text-score {
  text-align: center;
}

.score .text-score.red {
  color: red !important;
  padding: 15px;
}


.player-container, .player2-container {
  margin-top: 6rem;
  width: 400px;
  height: 600px;
}

.player-container {
  background: url('../../../assets/pokemon pack1/Card_background.png') no-repeat center center/cover;
}

.player2-container {
  background: url('../../../assets/pokemon pack1/Card_background2.png') no-repeat center center/cover;
}

.elements-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}
