<body class="bg-image">
  <div class="score">
      <h2 class="text-score">Player<span class="text-score red">{{ playerWins }}</span></h2>
      <h2>X</h2>
      <h2 class="text-score"> <span class="text-score red">{{ computerWins }}</span>Computer</h2>
  </div>
  <div class="game-container">
    <div class="player-container" >
      <div class="elements-inside">
        <div class="alert alert-primary" role="alert">
          <app-card [card]="playerCard" [showAttributeButtons]="true" (attributeSelected)="playTurn($event)"></app-card>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="player2-container">
        <div class="elements-inside">
          <app-card [card]="computerCard" [showAttributes]="false"></app-card>
          <div class="rival-message">
            <span class="speech">Ash é um fracassado</span>
          </div>
          <div class="gif-container">
            <img src="/assets/rivals/Pokemon-White-Trainer2.gif">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
