<body class="bg-image">
  <div class="score">
      <h2 class="text-score">Player Wins <span class="text-score red">{{ playerWins }}</span></h2>
      <h2 class="text-score"> <span class="text-score red">{{ computerWins }}</span> Computer Wins</h2>
  </div>
  <div class="game-container">
    <!-- <div class="players">
      <label class="player-name1">aaa</label>
      <label class="player-name2">aaa</label>
    </div> -->
    <div class="player-container">
      <div class="elements-inside">
        <app-card [card]="playerCard" [showAttributeButtons]="true" (attributeSelected)="playTurn($event)"></app-card>
      </div>
    </div>
    <div class="card2">
      <div class="player2-container">
        <div class="elements-inside">
          <app-card [card]="computerCard" [showAttributes]="false"></app-card>
        </div>
      </div>
    </div>
  </div>
</body>
